*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: blue;
}

#hamro_airline{
    height: 51px;
    width: 200px;
    border-radius: 40px;
    border: 1px solid black;
    flex-shrink: 0;
    margin-left: 60%; 
    text-align: center;
    padding-top: 5px;
   
}  
.upper_nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;

}
/**Navbar section**/
.navbar{
    background-color: #0B23A0;
    height: 80px;
    
    display: flex;
    align-items: center;

  
}
.navbar ul{
    display: flex;
    
    height: 40px;
    width: 100rem;
    margin-left: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.navbar ul li{
    display: flex;
    flex-direction: column;
    align-items: center; 
    list-style: none;
    transition: 0.5s ease;
    border-radius: 3px;
    padding: 5px;
    height: 40px;
    width: 90px;
    

}
.navbar ul li:hover{
    background-color: red;
}
.navbar ul li a{
    color: black;
    text-decoration: none;

}
 


 /*--- home page css */
.herosection1{
    background-image: url('https://www.nepalairlines.com.np/storage/banner/2021/01/slideimg_1611228354.jpg');
    height: 30rem;
    background-color: black;
}


.herosection2 h1{
    color: #0B23A0;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
}
.herosection2{
    display: flex;
    justify-content: space-between;
}
.discount{
 width: 612px;
height: 350px;
border-radius: 30px;
background: #FFF;
box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
text-align: center;


}
.discount-photo{
    height: 258px;
    width: 300px;
    border-radius: 20px;
    background-image: url('https://admin.buddhaair.com/upload/aboutus/mainimage/1649663497_cjPSc_web-01.webp');
}

.inst-discount span {
padding-top:2rem ;
 color: #002DCC;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;

    

}
.inst-discount span:hover{
    color: rgba(255, 255, 0, 0.86);
}
.instant-dis{
    height: 250px;
    width: 350px;
    padding-top: 2rem;
}
.inst-discount p{
    padding-top: 2rem;
    font-size: small;
    color: #696969;
    padding-left: 3.7rem;
    margin-bottom: 5rem;
    padding-right: 1rem;

}
.inst-discount a{
    color: #002DCC;
    height: 20px;
    width: 30px;
    padding-right: 5rem;
   
}
.share-journey{
width: 360px;
height: 290px;
border-radius: 30px;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.share-journey .image img{
    width: 100%;
    height: 100%;
}
.share p{
    color: #002DCC;
    font: 2rem;
    
}
.share{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.share > a{
    color: #002DCC;
    justify-content: center;
    margin: auto;
}
.ranks{
    display: flex;
    /* flex-direction: column; */
    width: 1000px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    justify-content: space-evenly;
}
.plane{
    display: flex;
}

.ranks .plane .total-flights p{
    padding: 1rem;
    text-align: center;
}
.ranks .plane .total-flights h2{
    padding:  2rem 1rem 1rem 1rem;
}
#explore{
    margin-bottom: 2rem;
   text-align: center;
}
#explore p{
    color: #002DCC;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}